<div class="h-full sidebar flex md:flex-col flex-row items-center justify-center gap-x-4 gap-y-4">
    <!-- https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/ -->
        <app-bean-item routerLink="/home">
                <mat-icon>home</mat-icon>
        </app-bean-item>
        <app-bean-item routerLink="/create">
                <mat-icon>create</mat-icon>
        </app-bean-item>
        <app-bean-item routerLink="/calendar">
                <mat-icon>date_range</mat-icon>
        </app-bean-item>
        <app-bean-item routerLink="/visualize">
                <mat-icon>donut_small</mat-icon>
        </app-bean-item>
        <app-bean-item routerLink="/bin">
                <mat-icon>delete</mat-icon>
        </app-bean-item>
        <app-bean-item routerLink="/about">
                <mat-icon>help_outline</mat-icon>
        </app-bean-item>
</div>