<nav class="h-full flex flex-row flex-wrap-reverse items-center justify-end">
    <a href="./" tabindex="1" class="flex z-1 justify-end shrink rounded-md order-0 icon-link fixed top-0 left-0 md:relative">
        <h1 class="ml-3 mr-3" >qtodo</h1>
    </a>
    <input type="search" 
    class="grow p-2 search-bar rounded-2xl outline-0 focus:ring-2 ring-inset sm:float-end order-0 md:order-1 text-center w-full md:w-auto"
    #searchBox tabindex="0" (input)="searchItems($event)" placeholder="₍^. .^₎⟆"
spellcheck="false"
    />
    <div class="flex flex-row order-2 options">   
    <div class="m-1 transition-all z-3 duration-1000 flex flex-row flex-wrap order-2 items-center justify-evenly w-full md:w-fit md:gap-x-2" [ngClass]="menuHidden?'opacity-0':'opacity-100'">
        <div [ngClass]="menuHidden?'hidden':'visible'" class="flex">
            <div *ngIf="user != null || online" class="flex flex-row">
                <select class="rounded p-1 m-1 max-w-30 overflow-ellipsis" (change)="changeCurrentUser($event)" tabindex="1">
                    <option *ngFor="let recentUserEntry of recentLogins; let i = index" [value]="i" [selected]="i == selectedUserIndex">{{recentUserEntry[0]}}</option>
                </select>
                <app-bean-item routerLink="/user/profile">
                    <mat-icon>person_pin</mat-icon>
                    <img *ngIf="userProfilePicture" [src]="userProfilePicture" class="w-10 absolute top-0 right-0"  [title]="user?.email+'/'+user?.userGroup">
                </app-bean-item>
            </div>
            <app-bean-item (click)="toggleBackendConnection()" title="toggle connection">
                    <mat-icon>{{!online?'cloud_off':'cloud_done'}}</mat-icon>
            </app-bean-item>
            <app-bean-item (click)="uploadNotes()" title="click to upload local backup">
                    <mat-icon>cloud_upload</mat-icon>
            </app-bean-item>
            <app-bean-item (click)="syncNotes()" title="click to download as a local backup">
                    <mat-icon>cloud_download</mat-icon>
            </app-bean-item>
            <app-bean-item>
                <select class="max-w-10 absolute top-0 right-0 w-10 h-10 cursor-pointer z-3" [title]="currentTheme" (change)="updateTheme($event)">
                    <option>🎨</option>
                    <optgroup *ngFor="let categoryKey of getCategories()" [label]="categoryKey">
                        <option *ngFor="let theme of availableThemes[categoryKey]" [value]="theme">{{theme}}</option>
                    </optgroup>
                </select>
                <div class="p-3"></div>
            </app-bean-item>
        </div>
    </div>
    <app-bean-item class="order-3 transition-all shrink mr-2" [ngClass]="menuHidden?'rotate-0':'rotate-90'" (click)="menuHidden = !menuHidden">
        <mat-icon>menu</mat-icon>
    </app-bean-item>
    </div>
</nav>
